version: "3.9"
services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MQTT_BROKER_HOST=mosquitto
    depends_on:
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
